<html>
    <body>
        <h1>Cadastrar livros</h1>
        <form action="/cadastro" method="POST">
            <p> Nome: <input type="text" name="nome"/></p>
            <p> Tipo: <input type="text" name="tipo"/></p>
            <p><input type="submit" name="Salvar"/></p>
        </form>
    </body>
</html>