<html>
    <body>
        <h1>Cadastrar produtos</h1>
        <form action="/cadastro" method="POST">
            <p>
                Marca: <input type="text" name="marca" value=""/>
            </p>
            <p>
                Validade: <input type="number" name="validade" value=""/>
            </p>
            <p>
                Tipo: <input type="text" name="tipo" value=""/>
            </p>
            <p>
                <input type="submit" value="Salvar" />
            </p>
        </form>
    </body>
</html>
